:host {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 10px;
  padding: 20px;
  .pills {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }
  .addPillButton {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    font-weight: bolder;
    padding: 0;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
  }
}
