:host {
  display: grid;
  gap: 10px;
  padding: 20px;
  .addPillButton {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    font-weight: bolder;
    padding: 0;
  }
}
