.pill {
  border: 1px solid var(--light-color);
  border-radius: 10px;
  display: grid;
  max-width: 730px;
  grid-template-columns: calc((100% - 30px) / 2) 1fr 30px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "schedule dose delete"
    "notify notify delete"
    "expand expand delete";
  gap: 5px;
  padding: 20px 5px;
  position: relative;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 8px;
    grid-template-areas:
      "schedule"
      "dose"
      "notify"
      "expand"
      "delete";
    padding: 10px;
  }

  &__name {
    font-weight: bolder;
    color: var(--primary-color);
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__schedule .days {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

    .day-btn {
      padding: 8px 12px;
      border: 1px solid var(--dark-color);
      background-color: var(--light-color);
      cursor: pointer;
      border-radius: 5px;
      transition: background 0.2s;
      color: var(--dark-color);

      &.active {
        background-color: var(--primary-color);
        color: var(--light-color);
      }

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }

  &__dose {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    input,
    select {
      height: 36px;
      // width: max-content;
      margin: 0;
      background-color: var(--light-color);
      color: var(--dark-color);
      border: 1px solid var(--dark-color);
      padding: 5px;
      border-radius: 5px;
      text-align: center;
    }

    select {
      cursor: pointer;
    }

    select option {
      background-color: var(--dark-color);
      color: var(--light-color);
      font-size: 16px;
      padding: 10px;
    }
  }
  .delete {
    grid-area: delete;
  }

  .expand {
    grid-area: expand;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--light-color);
    transition: transform 0.3s ease;

    cursor: pointer;

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  &__notifications {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-area: notify;
    justify-content: center;
    transition-behavior: allow-discrete;
    opacity: 1;
    transition: opacity 0.7s ease;

    &.initial-state {
      opacity: 0;
    }
    .notification {
      display: grid;
      grid-template-areas:
        "label delete"
        "timer timer";
      grid-template-columns: 1fr 1fr;
      .label {
        grid-area: label;
      }
      .delete {
        grid-area: delete;
        padding: 0;
        margin: 0;
        writing-mode: vertical-rl;
      }
      input {
        grid-area: timer;
      }
    }
    input {
      width: min-content;
    }
    .addButton {
      margin: 0;
      width: 30px;
      height: 30px;
      border-radius: inherit;
      margin-bottom: 5px;
    }
    &.column {
      flex-direction: column;
      align-items: center;
    }
    &.invisible {
      display: none;
      opacity: 0;
    }
  }
}
