.pill {
  &__wrapper {
    border: 1px solid var(--light-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__schedule {
    .days {
      display: flex;
      gap: 5px;
      .day-btn {
        padding: 8px 12px;
        border: 1px solid var(--dark-color);
        background-color: var(--light-color);
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.2s;
        color: var(--dark-color);
        &.active {
          background-color: var(--primary-color);
          color: var(--light-color);
        }
      }
    }
  }
  &__dose {
    display: flex;
    gap: 10px;
    align-items: stretch;
    input {
      background-color: var(--light-color);
      color: var(--dark-color);
    }
    select {
      width: max-content;
      & option {
        background-color: var(--dark-color);
        color: var(--light-color);
        font-size: 16px;
        padding: 10px;
        border: 1px solid var(--light-color);
      }
    }
  }
}
