@use "reset";
@use "base";

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 14px;
  color: #666;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--hover-color);
}

.delete {
  background-color: var(--error-color);
  display: flex;
  cursor: pointer;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 0 15px 0 15px;

  @media (max-width: 768px) {
    writing-mode: horizontal-tb;
  }
}

.addButton {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 30px;
  font-weight: bolder;
  padding: 0;
}
